<!DOCTYPE html>
<html>
<head>
    <title>Application</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script>

console.log("test");

let x=1;

function loadData(){
    const xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
    document.getElementById("demo").innerHTML =
    this.responseText;
}
xhttp.open("GET", "simple_text");
xhttp.send();

}



    </script>
</head>
<body>

<p class="p_center_L">application's main page</p>
<p class="p_center_L">welcome {{name_pass}}</p>


    <button onclick="loadData()">click</button>


<p id="demo"></p>

</body>
</html>