<!DOCTYPE html>
<html>
<head>
    <title>the shop</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script>var logoutVar=false</script>

    <script>
        function getProduct(){
            let val='{{product}}'
            fetch("/product_image/"+val).then(
                (e) => e.json()).then(e=>{
                    image_here=e[0].image;
                    price_here=e[0].price;

                    console.log(image_here);
                    // var imgDiv = document.createElement("div");
                    // imgDiv.setAttribute("id","div_"+im);
                    // imgDiv.classList.add("product_div");
                    var img = document.createElement("img");
                    img.src="get_image/"+image_here;
                    img.classList.add('product_image');
                    document.getElementById("product_image").appendChild(img);
                    document.getElementById("price").innerHTML="price: "+price_here;
                })
        }

        function sendProduct(){
            let val='{{product}}';
            fetch("/addtobasket/"+val).then(
                (e) => e.text()).then(tekst =>{
                    console.log(tekst)
                    document.getElementById("info").innerHTML="successfully added to basket: "+val
                }
            )
        }
    </script>
</head>
<body onload='getProduct()'>

<p class="p_center_L">product:{{product}}</p>
<div id="product_image" class="center_this"></div>
<p class="p_center_L" id="price"></p>
<p class="p_center_XS" id="opis">placeholder description: the purpose of a product description is to supply customers with important information about<br>
    the features and key benefits of the product so they're compelled to buy.</p>
<div id="table_div">
<table class="center_table"><tr>
<td><button onclick="sendProduct()" class="login_button">add</button></td>
<form action="/">
    <td><input type="submit" class="login_button" value="return"></td>
</form>
</tr></table>
</div>
<p class="p_center_S" id="info"></p>

</body>
</html>